*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: sans-serif;
}
header{
    background-color: #262626;
    height:54px;
    position: fixed;
    z-index: 6;
}
header img{
    width:152px;
    height: 18px;
}
.remove{
    font-size: 10px;
}
.remove ::before{
    content: "";
    position: absolute;
    top:-15px;
    left: 0;
    width: .7px;
    height: 54px;
    background-color: #eee;
}
header button{
    padding: 3px 15px;
    color: #fff;
    background-color: rgb(4, 151, 4);
    border-radius: 3px;
    border: none;
}
.impreza{
    top: 54px;
    position: fixed;
    z-index: 16;
    background-color: #eee;
}
.impreza a{
    color: #000;
}
.impreza a:hover{
    color: rgb(231, 82, 107);
    text-decoration: none;
}
.website{
    padding-top: 150px;
}
.website h1{
    font-size: 80px;
}
.website .col-3:hover a{
    padding: 10px;
    background-color: #eee;
    background-color: rgb(201, 119, 133);
    text-decoration: none;
    display: block;
    height:45px;
}
.website .col-3:hover{
    padding: 10px;
    background-color: #eee;
    transition: background-color .7s ease-in-out;
}
.real h1{
    font-size: 60px;
}
.real button{
    border: 1px solid #555;
    border-radius: 15px;
    padding: 3px 15px;
    background-color: #fff;
}
.love i{
    color: yellow;
}
.love .col-5 div{
    background-color: #f5f5f5;
    padding: 20px 30px 20px;
}
.love .col-5 div:hover{
    background-color: #e95095;
    transition: background-color .7s ease-in-out;
}
.love .col-5 div::after{
    content: " ";
    background-color: inherit;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    position: absolute;
    z-index: -1;
}
.love p a{
    color: #e95095;
}
.love p a:hover{
    color: #753aff;
    text-decoration: none;
}
footer .overlay{
    height:493.74px;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .7;
    width: 100%;
}
footer .cont{
    top:180px;
    left: 30%;
    z-index: 9999;
}
footer button{
    padding: 15px 30px;
    background-color: #e95095;
    border: 1px solid #e95095;
    border-radius: 30px;
}